---
import H3 from "../components/Typography/H3.astro"
import P from "../components/Typography/P.astro"

const { src, href, title, description } = Astro.props
---
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" class="column" style="vertical-align: middle; width: 100%; max-width: 270px; display: inline-block">
    <tr>
        <td width="270" style="padding: 12px 11px 12px 11px;" class="mobile-col-padding">
            
                <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tr>
                        <td height="70" width="100%" bgcolor="#E0EEE4" style="padding: 10px 10px 10px 10px; border-radius: 15px">
                            
                                <table width="100%">
                                <tr>
                                    <td width="18%">
                                        <a style="text-decoration: none; font-size: 0;" href={href}>
                                            <img src={src} width="36" border="0" alt={title}>
                                        </a>
                                    </td>
                                    <td width="5%">&nbsp;</td>
                                    <td width="78%">
                                        <a style="text-decoration: none;" href={href}><H3>{title}</H3>
                                        <slot />
                                    </td>
                                </tr>
                                </table>
                        </td>
                    </tr>
                </table>
            </a>
        </td>
    </tr>
</table>